*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

button, a {
  cursor: pointer;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
}

.main {
  &__container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0;
  }
}
