{% extends 'layouts/base.html' %}


{% block title %}
  <title>О нас</title>
{% endblock %}

{% block body %}
  <main class="about-page">
    {% include 'components/parts/about/hero.html' %}
    {% include 'components/parts/about/team.html' %}
    {% include 'components/parts/about/approach.html' %}
    {% include 'components/parts/about/principles.html' %}
    {% include 'components/parts/about/closing.html' %}
  </main>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/about.js') }}"></script>
{% endblock %}
