{% extends 'layouts/base.html' %}


{% block title %}
  <title></title>
{% endblock %}

{% block body %}
  {% include 'components/parts/index/hero.html' %}
  {% include 'components/parts/index/pain-points.html' %}
  {% include 'components/parts/index/features.html' %}
  {% include 'components/parts/index/target-audience.html' %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/features-animation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/target-audience.js') }}"></script>
{% endblock %}

