<footer class="footer color-background--dark">
    <div class="footer__text-container">
        <h3 class="footer__text-container-title">Создавайте карточки быстрее</h3>
        <p class="footer__text-container-description">Автоматизируйте рутинную работу при создании карточек товаров для маркетплейсов прямо в Figma.</p>
    </div>
    <div class="footer__content">
        <p class="footer__logo"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt=""></p>
        <button class="footer__button--go-plugin">Попробовать плагин</button>
        <a href="#body" class="footer__link--go-up">
            <img src="{{ url_for('static', filename='images/elements/arrow.svg') }}" alt="">
        </a>
    </div>
</footer>