<footer class="footer color-background--dark">
    <div class="footer__text-container">
        <h3 class="footer__text-container-title">Готовьте карточки быстрее</h3>
        <p class="footer__text-container-description">Автоматизируйте подготовку структуры, фона, текста и композиции карточки прямо в Figma.</p>
    </div>
    <div class="footer__content">
        <p class="footer__logo"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt=""></p>
        <a href="#body" class="footer__link--go-up">
            <img class="theme-icon-on-accent" src="{{ url_for('static', filename='images/elements/arrow.svg') }}" alt="">
        </a>
    </div>
</footer>
