<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="{{ url_for('index') }}" class="logo-text">
          <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
      </a>
    </div>

    <nav class="header__nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#" class="nav-link">Возможности</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Как работает</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <button class="btn btn--primary">Попробовать плагин</button>
    </div>
  </div>
</header>
