<section id="faq" class="faq color-background--dark">
    <div class="faq__content">
      <div class="faq__header section-header">
        <h2 class="faq__title section-header__title">FAQ</h2>
        <p class="faq__description section-header__description">
          Ответы на самые частые вопросы о работе плагина, его возможностях и использовании.
        </p>
      </div>

      <div class="faq__list">
        <div class="faq__item">
          <button class="faq__question" type="button">
            <span>Какие маркетплейсы учитывались при проектировании?</span>
            <span class="faq__arrow"><img class="theme-icon-on-accent" src="{{ url_for('static', filename='images/index/faq/arrow.svg') }}" alt=""></span>
          </button>
          <div class="faq__answer">
            <div class="faq__answer-content">
              В работе рассматривались базовые требования Wildberries и Ozon: качество изображения,
              корректный формат, читаемость текста и понятная демонстрация товара. Финальную проверку
              карточки перед публикацией выполняет пользователь.
            </div>
          </div>
        </div>

        <div class="faq__item">
          <button class="faq__question" type="button">
            <span>Нужно ли уметь работать в Figma?</span>
            <span class="faq__arrow"><img class="theme-icon-on-accent" src="{{ url_for('static', filename='images/index/faq/arrow.svg') }}" alt=""></span>
          </button>
          <div class="faq__answer">
            <div class="faq__answer-content">
              Да, базовые навыки Figma полезны. Плагин формирует основу карточки и создает слои,
              но пользователь может вручную поправить текст, композицию, цвет и расположение элементов.
            </div>
          </div>
        </div>

        <div class="faq__item">
          <button class="faq__question" type="button">
            <span>Что получается на выходе?</span>
            <span class="faq__arrow"><img class="theme-icon-on-accent" src="{{ url_for('static', filename='images/index/faq/arrow.svg') }}" alt=""></span>
          </button>
          <div class="faq__answer">
            <div class="faq__answer-content">
              На выходе пользователь получает редактируемый макет в Figma. Карточка собирается из
              отдельных элементов: фона, изображения товара, текстовых блоков и декоративных слоев.
            </div>
          </div>
        </div>

        <div class="faq__item">
          <button class="faq__question" type="button">
            <span>Что автоматизирует плагин?</span>
            <span class="faq__arrow"><img class="theme-icon-on-accent" src="{{ url_for('static', filename='images/index/faq/arrow.svg') }}" alt=""></span>
          </button>
          <div class="faq__answer">
            <div class="faq__answer-content">
              Плагин автоматизирует наиболее трудоемкие этапы подготовки макета: формирование структуры,
              создание фона, размещение товара, текстовые акценты и первичную композицию карточки.
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
