<section class="features color-background--dark">
  <div class="main__container">
    <h2 class="features__main-heading">Что делает плагин</h2>
    
    <div class="features__block">
      <div class="features__content">
        <div class="features__text">
          <h3 class="features__item-title">
            <span class="features__title-line">Использует готовые шаблоны</span>
            <span class="features__title-line">маркетплейсов</span>
          </h3>
          
          <p class="features__item-description">
            <span class="features__desc-line">Готовые шаблоны под</span>
            <span class="features__desc-line">требования маркетплейсов</span>
          </p>
          
          <div class="features__subitems">
            <div class="features__subrow">
              <div class="features__subitem features__subitem--sizes">
                <span class="features__subitem-text">Правильные размеры</span>
              </div>
              <div class="features__subitem features__subitem--grid">
                <span class="features__subitem-text">Сетка</span>
              </div>
            </div>
            
            <div class="features__subrow">
              <div class="features__subitem features__subitem--typography">
                <span class="features__subitem-text">Типографика</span>
              </div>
              <div class="features__subitem features__subitem--composition">
                <span class="features__subitem-text">Композиция</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="features__image-wrapper">
          <div class="features__cards-container">
            <div class="features__card features__card--farleft">
              <img src="{{ url_for('static', filename='images/index/featuresOverview/firstBlock/FarLeft.webp') }}" 
                   alt="Far Left" 
                   class="features__card-image">
            </div>
            
            <div class="features__card features__card--left">
              <img src="{{ url_for('static', filename='images/index/featuresOverview/firstBlock/Left.webp') }}" 
                   alt="Left" 
                   class="features__card-image">
            </div>
            
            <div style="z-index: 111;" class="features__card features__card--center">
              <img src="{{ url_for('static', filename='images/index/featuresOverview/firstBlock/Center.webp') }}" 
                   alt="Center" 
                   class="features__card-image">
            </div>
            
            <div class="features__card features__card--right">
              <img src="{{ url_for('static', filename='images/index/featuresOverview/firstBlock/Right.webp') }}" 
                   alt="Right" 
                   class="features__card-image">
            </div>
            
            <div class="features__card features__card--farright">
              <img src="{{ url_for('static', filename='images/index/featuresOverview/firstBlock/FarRight.webp') }}" 
                   alt="Far Right" 
                   class="features__card-image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>