<div class="hero">
  <h1 class="hero__title">
    <div class="hero__slider">
      <div class="hero__slide">
        <span class="hero__title-line hero__title-line-1">Автогенерация</span>
        <span class="hero__title-line hero__title-line-2">карточек</span>
      </div>
      
      <div class="hero__slide">
        <span class="hero__title-line hero__title-line-1">Подходит под</span>
        <span class="hero__title-line hero__title-line-2">WB и OZON</span>
      </div>
      
      <div class="hero__slide">
        <span class="hero__title-line hero__title-line-1">Карточки</span>
        <span class="hero__title-line hero__title-line-2">за 3 минуты</span>
      </div>
      
      <div class="hero__slide">
        <span class="hero__title-line hero__title-line-1">Импорт данных</span>
        <span class="hero__title-line hero__title-line-2">в один клик</span>
      </div>
    </div>
  </h1>
</div>