<section id="pain-points" class="pain-points color-background--dark">
    <div class="pain-points__simple section-header">
      <h2 class="pain-points__label section-header__title">Проблемы</h2>
      <p class="pain-points__text section-header__description">
        Подготовка карточек товаров занимает много времени: нужно учитывать требования площадок,
        продумывать структуру, подбирать фон, размещать товар, оформлять тексты и проверять композицию.
        При большом количестве карточек однотипные действия повышают риск ошибок и усложняют поддержку единого стиля.
      </p>
    </div>
</section>
