<section id="pain-points" class="pain-points color-background--dark">
    <div class="pain-points__simple section-header">
      <h2 class="pain-points__label section-header__title">Проблемы</h2>
      <p class="pain-points__text section-header__description">
        Создание карточек товаров требует слишком много рутины: разные стандарты маркетплейсов, ручное оформление, постоянные правил и обновления данных. Всё это замедляет работу и мешает фокусироваться на главном — продаже продукта.
      </p>
    </div>
</section>
